:root {  
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  /* --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5); */
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;


  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);


  @media (max-width: 1024px) {
    font-size: 16px;
  }
}






 /* modifica color en el root para cambiar el tema */
/*  
html {
  color-scheme: light dark;
}
:root {
  --bg: light-dark(#fafafa, #42424242);  
  --background-theme: light-dark(#375ccc, #000c2a);
  --background-theme-1: light-dark(#fff, #424242);

  --base: light-dark(#375ccc, #000c2a);
  --bg-btn: light-dark(#858ffa, #5865f2);
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
} */




html {
  color-scheme: light dark;
}

:root {
  --bg:                  light-dark(#fafafa, #1a1a1a);
  --background-theme:    light-dark(#375ccc, #1a1a1a);
  --text:                light-dark(#6b6375, #fafafa);
  --base:                light-dark(#375ccc, #1a1a1a);
  --bg-btn:              light-dark(#858ffa, #a294f9);
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}